/* Nav section */
@media(max-width: 1000px){
    .link-holder{
        display: block !important;
        padding: 0;
    }
    .link-holder li{
        padding-left: 0;
    }
    .create-acc{
       width: 136px;
    }
    .sub-upload-info2{
        display: inline;
        width: 100%;
    }
    .footer{
        padding: 14px;
    }
    /* .about-us p{
        width: 70%;
    } */

}
@media(max-width:500px){
    .uploading-section {
        width: 100%;
        text-align: center;
    }
    
}
@media(max-width:752px){
    .upload-box{
        margin-left: auto;
        margin-right: auto;
    }
}
@media(max-width:570px){
    .pagebody{
        padding: 15px;
    }
    .video-ouput-hoder{
        margin-left: 0;
        margin-right: 0px;
    }
}
@media(max-width:300px){
    .merger-btn-holder button {
        width: 100%;
    }
    .video-description {
        width: 100%;

    }
}
